.error-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    color: #6c757d;
}

.error-container {
    text-align: center;
}

.error-code {
    font-size: 10rem;
    font-weight: 700;
}

.error-message {
    font-size: 1.5rem;
}

.home-btn {
    margin-top: 20px;
}